.header {
    text-align: center;
    padding: 20px 0;
    background-color: white;
}

h1 {
    color: black;
    font-size: 150;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

p.note1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}